body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  h2{
    display: flex;
    color: rgb(104, 164, 14);
  }
  .container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .form {
    display: none;
    flex-direction: column;
  }
  .form.active {
    display: flex;
  }
  input, button {
    margin: 8px 0;
    padding: 10px;
  }
  a {
    font-size: 0.9em;
    color: #007bff;
    cursor: pointer;
    text-align: right;
  }
  